location ~ ^/advent\/(day|jour|tag)/ {
	autoindex off;
	rewrite ^/advent/(day|jour|tag)(\/([0-9]*))?$ /advent/index.php?day=$3 last;
}

location /advent/ {
	autoindex off;
	rewrite ^/advent/([a-z]+)(\/([0-9]*))?$ /advent/index.php?$1=$3;
}
