@charset("utf-8");

/**
 *	Developped with love by Nicolas Devenet <nicolas[at]devenet.info>
 *	Code hosted on github.com/nicolabricot
 */

body {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	background: #f8f8f8;
}
.background {
	margin: 0;
	padding: 20px 0;
	overflow: hidden;
	background: url(tree_bark.png) left top repeat fixed;
}
.alternate-background { background: url(wave_grid.png) left top repeat fixed; }
hr { border-color: #cdcdcd; }
nav.navbar { margin-bottom: 0; }
.navbar { font-weight: 400; }
p, .text { font-size: 30px; line-height: 35px; }
.text-center { text-align: center; }
.error { margin: 60px auto; width: 70%; font-size: 20px; }
.error h3 { font-size: 30px; }
.error a.illustration { display: block; margin-top: 50px; font-size: 60px; }
.error a.illustration-danger { color: #fed2d2; }
.error a.illustration-danger:hover { color: #b94a48; }

h1, h2, h3 { font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.day-row, .day-row span, .footer a, .error a.illustration { -webkit-transition:all linear 0.2s; -moz-transition:all linear 0.2s; -o-transition:all linear 0.2s; transition:all linear 0.2s; }

.days {
	max-width: 735px;
	margin: 20px auto;
}
.day-row {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 6px 8px;
	background: #bebebe;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
}
a.day-row:hover { -ms-transform:scale(1.1); -webkit-transform:scale(1.1); -o-transform:scale(1.1); transform:scale(1.1); border-radius: 10px; }
.days div.day-row:hover span { color: #db4545; cursor: default; }
.day-row span {
	display: block;
	position: absolute;
	bottom: -8px;
	right: 1px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	letter-spacing: -4px;
	color: #fff;
}
.day-row.active.day-color-1 { background: #5FC462; }
.day-row.active.day-color-2 { background: #EDD360; }
.day-row.active.day-color-3 { background: #C48CE8; }
.day-row.active.day-color-4 { background: #49C7FF; }

.day h1 {
	margin: 0 auto 6px;
	line-height: 100px;
	font-size: 60px;
	padding-left: 10px;
	float: left;
	max-width: 820px;
}
@media (min-width:768px) and (max-width: 992px) { .day h1 { max-width: 600px !important; } }
@media (min-width:1200px) { .day h1 { max-width: 1020px !important; } }
@media (max-width: 767px) { .day h1 { max-width: 100% !important; } }
.day h1 span { display: inline-block; line-height: 55px; }
.day h1 i { font-size: 50px; }
.day .day-row  { float: left; margin-bottom: 20px; }
.day img { margin: 15px auto 5px; font-size: 20px; line-height: 40px; }
.day p.legend { font-size: 25px; }
.day .text { margin: 30px auto 50px; }
.day .pager { font-weight: normal; margin-top: 50px; }

footer { margin: 0 0 20px 0; }
footer hr { margin-top: 0px; }
footer p a { color: #777; }